<!DOCTYPE html>
<html>
<head>
    <title>Tasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-themes@^1.0.2/dist/ectype/index.min.css" rel="stylesheet">
    <style>
        .task {
            position: relative;
            font-size: 20px;
        }

        .task-actions {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <br/>
        <form method="POST" class="mb-3 d-flex justify-content-center">
            <input type="text" name="title_task" placeholder="Title task" class="mr-2">
            <input type="text" name="name_task" placeholder="Task content" class="mr-2">
            <input type="submit" value="Add" class="btn btn-primary">
        </form>
        <ul>
            {% for item in items %}
            <li class="task">
                {% if item.action_task %}
                <del>
                <h1>{{ item.title_task }}</h1>
                <p>{{ item.name_task }}</p>
                </del>
                {% else %}
                <h1>{{ item.title_task }}</h1>
                <p>{{ item.name_task }}</p>
                {% endif %}
                <div class="task-actions">
                    {% if not item.action_task %}
                    <a href="{{ url_for('complete_task',id=item.project_id , item_id=item.id) }}">[✓]</a>
                    {% endif %}
                    <a href="{{ url_for('delete_task',id=item.project_id, item_id=item.id) }}">[✗]</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{url_for('dashboard')}}"> 
        <h3 class="mt-4 text-center"> Back </h3>
    </a>
</body>
</html>